

   .card {
    width: 250px;
    border: 2px solid black;
    display: inline-block;
    margin: 20px;
}


 

#male{
    padding: 10px;
text-align: center;
}
#female{
    padding: 10px;
    text-align: center;

}


img{
    width: 250px;
    height: 200px;
   
}
.card:hover{
    box-shadow: 10px 10px 10px  rgb(48, 46, 46);
}